<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasaGuerrero.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CasaGuerrero.Properties.Settings.recargasConnectionLocal"
            connectionString="Data Source=192.168.0.2;Initial Catalog=recargas;Persist Security Info=True;User ID=sa;Password=Admin123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <!-- Cambiar a Https-->
            <basicHttpsBinding>
                <binding name="ServiceSoap" />
                <!--<binding name="ServiceSoap1" />-->
            </basicHttpsBinding>
        </bindings>
        <client>
          
            <endpoint address="https://www.mtcpos.com.mx/tae/service.asmx" binding="basicHttpsBinding" 
                bindingConfiguration="ServiceSoap" contract="WSMTCenter.ServiceSoap"
                name="ServiceSoap" />
          <!-- Pruebas
            <endpoint address="http://187.253.132.12/tae/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="WSMTCenter.ServiceSoap"
                name="ServiceSoap" /> -->
          
          <!-- Aqui comienza pagos y servicios 
            <endpoint address="http://187.253.132.12/ps/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap1" contract="WSMTCenterServicios.ServiceSoap"
                name="ServiceSoap1" />-->
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CasaGuerrero.Properties.Settings>
          
            <setting name="CasaGuerrero_WebReference_Service" serializeAs="String">
                <value>https://www.mtcpos.com.mx/tae/service.asmx</value>
              <!--
              <setting name="CasaGuerrero_WebReference_Service" serializeAs="String">
                <value>http://187.253.132.12/tae/Service.asmx</value> -->
                
            </setting>
        </CasaGuerrero.Properties.Settings>
    </applicationSettings>
</configuration>